@font-face {
    font-family:'Cairo' ;
    src: url('https://fonts.googleapis.com/css3?family=Cairo:wght@300;400;600;700;800&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

#popup4{
    background-color: #ffffff;
    width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 45%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
body{
    background: #d6c9b2;
    
}

::selection{
    color: #fff;
    background: #d6c9b2;
}




.start_btn4,
.info_box4,
.quiz_box4,
.result_box4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box4.activeInfo4,
.quiz_box4.activeQuiz4,
.result_box4.activeResult4{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn4 button{
    font-size: 25px;
    font-weight: 500;
    color: #01040a;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}



.quiz_box4{
    width: 550px;
    padding: 15px ;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    margin-left: 30px;
    position : absolute;
    z-index: 1;
    margin-bottom: 80px;
}




.quiz_box4  .timer4{
    margin-right: 80px;
    margin-top: 30px;
    padding: 0 30px;
    color: #1b180c;
    background: #d1bba1;
    border: 1px solid #413f36;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quiz_box4  .timer4 .time_left_txt4{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box4 .timer4 .timer_sec4{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box4 {
    width: 500px;
    height: 700px;
    padding: 25px 30px 30px 30px;
    background-image: url("src/assets/fff.jpg");
    margin-left: 30px;
    margin-bottom: 80px;
}

.quiz_box4 .que_text4{
    font-size: 32px;
    font-weight: 550;
    margin-top: 40px;
    margin-bottom: 50px;
}

.quiz_box4.option_list4{
    padding: 20px 0px ;
    display: block;  
    margin-top:70px
}

.quiz_box4 .option_list4 .option4{
    background: #d1bba1;
    border: 1px solid #413f36;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box4.option_list4 .option4:last-child{
    margin-bottom: 0px;
}

.quiz_box4 .option_list4 .option4:hover{
    color: #181517;
    background: #737475;
   
}

.quiz_box4 .option_list4 .option4.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.quiz_box4 .option_list4 .option4.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.quiz_box4.option_list4 .option4.disabled{
    pointer-events: none;
}

section .option_list4 .option4 .icon{
    height: 27px;
    width: 27px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list4 .option4.icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list4 .option4.icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    margin-top: 100px;
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_que4 span{
    display: flex;
    user-select: none;
}

footer .total_que4 span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que4 span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 8px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(24, 22, 22);
    border-radius: 5px;
    background: #efecd9;
    border: 1px solid #1d1e1f;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #737475;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box4{
    background-image: url("src/assets/fff.jpg");
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 500px;
    height:700px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box4 .icon{
    font-size: 100px;
    color: #46301f;
    margin-bottom: 10px;
}

.result_box4 .complete_text4{
    font-size: 20px;
    font-weight: 500;
}

.result_box4 .score_text4 span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box4 .score_text4 span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box4 .buttons4{
    display: flex;
    margin: 20px 0;
}

.result_box4 .buttons4 button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #5a4b30;
    transition: all 0.3s ease;
}

.buttons4 button.retry4:hover{
    color: #fff;
    background: #abaaa2;
}

.buttons4 button.quit4:hover{
    color: #fff;
    background: #737475;
}
